<!DOCTYPE html>
<html lang="en">
    <body>
        <% include ./partials/header %> 
        <!-- Breadcrumb Start -->   
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->        
        <!-- Cart Start -->
        <div class="cart-page">                         
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle"> 
                                        <% for ( let y=0; y < items.length ; y +=1){ %> 
                                            <form method="POST">                                                                                                                                                                   
                                        <tr>                                            
                                            <td>
                                                <div class="img">
                                                    <a href="/product-detail/<%=items[y].productId%>"><img src="/<%= items[y].img%>" alt="Image"></a>
                                                    <p><%= items[y].name%></p>
                                                </div>
                                            </td>
                                            <td>$<%=parseInt((items[y].price).slice(1))%></td>
                                            <td>
                                                
                                                <div class="qty">
                                                    <button class="btn-minus" type="submit" formaction="/cart/update"><i class="fa fa-minus"></i></button>
                                                    <input type="text" name="amount" value="<%= items[y].amount%>">
                                                    <input  type="hidden" name="cartId" value="<%= items[y]._id%>">
                                                    <button class="btn-plus" type="submit"  formaction="/cart/update" ><i class="fa fa-plus"></i></button>
                                                    
                                                </div>
                                               
                                            </td>
                                            
                                            <td>$<%=parseInt((items[y].price).slice(1)) * items[y].amount %> </td>
                                            <td><button type="submit" value="delete" formaction="/cart/delete" ><i class="fa fa-trash"></i></button></td> 
                                            <input type="hidden" name="cartId" value="<%= items[y]._id%>">
                                            </form>                                           
                                        </tr>
                                        
                                        <% } %>                                                                          
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="coupon">
                                        <input type="text" placeholder="Coupon Code">
                                        <button>Apply Code</button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                     
                                    <div class="cart-summary">
                                        <div class="cart-content">                                           
                                            <h1>Cart Summary</h1>
                                            <% let sum=0 %> 
                                            <% items.forEach(item=>{sum+=item.amount * parseInt((item.price).slice(1))}) %>                                                      
                                            <p id="sum">Sub Total<span>$<%=sum %></span></p>
                                            <p>Shipping Cost<span>$5</span></p>
                                            <h2>Grand Total<span>$<%= sum+5 %></span></h2>
                                        </div>
                                        <div class="cart-btn" >
                                            
                                            
                                            <a href="/checkout"><button  type="submit">Checkout</button></a>                                                                                    
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
       
        
        <!-- Cart End -->
        <% include ./partials/footer %> 
    </body>
</html>
